@import '~vuetify/src/styles/styles.sass';

$body-font-family: Roboto, Arial, sans-serif;
$font-family-primary: $body-font-family;

$body-font-family: 'TT Norms Pro Regular', Helvetica, sans-serif;
$body-font-family--medium: 'TT Norms Pro Medium', Helvetica, sans-serif;
$font-size-root: 14px;
$input-font-size: $font-size-root;
$label-font-size: $font-size-root;

$text-color: #252d4b;
$text-selection-color: #fff;
$text-selection-bg: var(--v-secondary-base);

$primary: var(--v-primary-base);
