@import './_variables';
@import './_helpers';

html,
body,
.v-application {
  height: 100%;
  max-height: 100%;
}

html {
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
}

body {
  font-size: 1rem;
  line-height: 1.4em;
  color: #000;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.v-application {
  .v-application--wrap {
    > .v-main {
      max-height: 100%;
    }
  }
}